body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
}

.comments {
    width: 100%;
    background: #ccc;
}

.comment {
    padding: 10px 10px 0 10px;
}

.comment-reply {
    margin-left: 5%;
}

.comment:after {
    content: " ";
    display: table;
    /*Do not allow floating elements on the left or the right side of a specified element */
    clear: both;
}

.comment-image {
    width: 65px;
}

.comment-image img {
    width: 50px;
    /* Make border-radius match the width for a full circle */
    border-radius: 50px;
}

.comment-image, comment-body {
    float: left;
}

.comment-body {
    width: 80%;
}

.comment-body p {
    margin-top: 10px;
}

.comment-info {
    font-weight: bold;
}